<div class="page">

  <%= stylesheet_section "Subnav example" do %>
    <div class="page-header">
      <div class="container">
        <nav class="subnav">
          <ul>
            <li><a class="current" href="#">Current Subnav Item</a></li>
            <li><a href="/about">Another Item</a></li>
            <li><a href="#">Another Item</a></li>
          </ul>
        </nav>
        <h1>Lorem ipsum dolor sit amet</h1>
      </div>
    </div>
  <% end %>

  <%= stylesheet_section "Page header" do %>
    <div class="page-header">
      <div class="container">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>
          Consectetur adipisicing elit. Adipisci, voluptatem, error, deserunt,
          provident a quis vero perferendis dolorum quas minima tempore iste
          <a>I'm just a link. In your text.</a>
          blanditiis quod consequuntur sunt unde nisi vitae tempora.
        </h2>

        <a href="#" class="button secondary large">Click me</a>
      </div>
    </div>
  <% end %>

  <div class="row light">
    <div class="container">
      <h1>Forms</h1>

      <form method="post" action="">

        <%= stylesheet_section "Search box" do %>
          <div class="field">
            <div id="search" class="neat-last-column">
              <input id="challenge-search" name="search" placeholder="Search challenges" title="Search" type="text" value="">
              <button class="ss-icon" id="search-button" title="Search" type="submit">search</button>
            </div>
          </div>
        <% end %>

        <%= stylesheet_section "Input boxes" do %>
          <div class="field">
            <label for="form-element-1">I'm a label</label>
            <p class="sublabel">Hey look, it's a sublabel</p>
            <input value="testing" id="form-element-1" />
            <br/><br/>
            <input placeholder="testing" />
            <br/><br/>
            <input disabled="disabled" value="This is a disabled input!" />
          </div>
        <% end %>

        <%= stylesheet_section "Text area" do %>
          <div class="field">
            <textarea>
Oat cake oat cake sweet danish gummi bears gummi bears ice cream. Sweet roll gingerbread fruitcake sugar plum dragée marzipan sugar plum faworki carrot cake.  Icing croissant pudding marzipan topping caramels sesame snaps brownie. Oat cake gummies applicake candy canes cake.  Cotton candy candy canes candy lemon drops wypas cotton candy candy cheesecake. Icing marzipan pie dragée candy marshmallow jelly liquorice sugar plum.

Cupcake chupa chups jelly beans fruitcake candy canes liquorice lemon drops faworki. Dragée candy lemon drops liquorice faworki oat cake cupcake candy canes.  Tootsie roll dragée dessert gummi bears
            </textarea>
          </div>
          <br/><br/>
          <div class="field">
            <label for="disabled-textarea">Disabled text area</label>
            <textarea id="disabled-textarea" disabled>
Oat cake oat cake sweet danish gummi bears gummi bears ice cream. Sweet roll gingerbread fruitcake sugar plum dragée marzipan sugar plum faworki carrot cake.  Icing croissant pudding marzipan topping caramels sesame snaps brownie. Oat cake gummies applicake candy canes cake.  Cotton candy candy canes candy lemon drops wypas cotton candy candy cheesecake. Icing marzipan pie dragée candy marshmallow jelly liquorice sugar plum.

Cupcake chupa chups jelly beans fruitcake candy canes liquorice lemon drops faworki. Dragée candy lemon drops liquorice faworki oat cake cupcake candy canes.  Tootsie roll dragée dessert gummi bears
            </textarea>
          </div>
        <% end %>

        <%= stylesheet_section "Select boxes" do %>
          <div class="field">
            <select id="form-element-3">
              <option value="1">Kittens</option>
              <option value="2">Puppies</option>
              <option value="3">Bunnies</option>
            </select>
          </div>
        <% end %>

        <%= stylesheet_section "Regular 'Ol Checkboxes" do %>
          <div class="field">
            <div class="checkbox">
              <input type="checkbox" name="checkbox1" id="checkbox1">
              <label for="checkbox1">Pandas</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="checkbox2" id="checkbox2">
              <label for="checkbox2">More pandas</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="checkbox3" id="checkbox3">
              <label for="checkbox3">All the pandas!</label>
            </div>
          </div>
        <% end %>

        <%= stylesheet_section "Fancy checkboxes" do %>
          <div class="field">

            <div class="fancy-checkbox">
              <div class="switch">
                <input type="checkbox" name="switch" id="myswitch">
                <label class="ss-icon" for="myswitch">
                  <div class="inner"></div>
                  <div class="nib"></div>
                </label>
              </div>
              <p class="switch-label">Rainbows</p>
            </div>

            <div class="fancy-checkbox">
              <div class="switch">
                <input type="checkbox" name="switch" id="myswitch2">
                <label class="ss-icon" for="myswitch2">
                  <div class="inner"></div>
                  <div class="nib"></div>
                </label>
              </div>
              <p class="switch-label">Unicorns</p>
            </div>
          </div>
        <% end %>

        <%= stylesheet_section "Radio buttons" do %>
          <div class="field">
            <input id="age_child" name="age" type="radio" value="child" />
            <label for="age_child" class="inline">I am younger than 21</label>
            <br/>
            <input id="age_adult" name="age" type="radio" value="adult" />
            <label for="age_adult" class="inline">I'm over 21</label>
          </div>
        <% end %>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <h1>Buttons</h1>

      <%= stylesheet_section "Standard buttons using <a> tag" do %>
        <a class="button">Primary button</a>
        <a class="button secondary">Secondary button</a>
        <a class="button tertiary">Tertiary button</a>
        <a class="button disabled">Disabled button</a>
        <a class="button link">Link button</a>
      <% end %>

      <%= stylesheet_section "Size variations using <a> tag" do %>
        <a class="button large">Large button</a>
        <a class="button small">Small button</a>
      <% end %>

      <%= stylesheet_section "Standard Buttons using <button> tag" do %>
        <button>Primary button</button>
        <button class="secondary">Secondary button</button>
        <button class="tertiary">Tertiary button</button>
        <button disabled="disabled">Disabled button</button>
        <button class="link">Link button</button>
      <% end %>

      <%= stylesheet_section "Size variations using <button> tag" do %>
        <button class="large">Large button</button>
        <button class="small">Small button</button>
      <% end %>

      <%= stylesheet_section "Button with icon" do %>
        <a class="button github-login">
          <span class="ss-icon ss-social">octocat</span>
          Github
        </a>
      <% end %>

      <%= stylesheet_section "Button with icon" do %>
        <a class="button facebook-login">
          <span class="ss-icon ss-social">facebook</span>
          Facebook
        </a>
      <% end %>
    </div>
  </div>

  <div class="row light">
    <div class="container">
      <h1>Typography</h1>

      <h1>
        Heading 1 &mdash; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sequi, ipsa,
        beatae dolore magnam aut temporibus maxime voluptas voluptates nemo molestiae dicta
        corporis expedita
      </h1>
      <p>
        p &mdash; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sequi, ipsa, beatae
        dolore magnam aut temporibus maxime voluptas voluptates nemo molestiae dicta corporis
        expedita <strong>aliquam</strong> ratione officia necessitatibus dolores quis? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quos, doloremque, cum,
        dolorum dolores natus inventore sint vero facilis dignissimos obcaecati odit iure
        delectus rem quod ducimus sapiente placeat eum. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Temporibus, suscipit totam omnis doloremque nobis <a
          href="#">laboriosam nemo</a> nesciunt aspernatur facere dolor voluptate at fugit
        eaque sed hic esse dolorum accusantium. Distinctio!
      </p>

      <h2>
        Heading 2 &mdash; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sequi,
        ipsa, beatae dolore magnam aut temporibus maxime voluptas voluptates nemo molestiae
        dicta corporis expedita
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sequi, ipsa, beatae
        dolore magnam aut temporibus maxime voluptas voluptates nemo molestiae dicta corporis
        expedita <strong>strong. aliquam</strong> ratione officia necessitatibus dolores quis? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quos, doloremque, cum,
        dolorum dolores natus inventore sint vero facilis dignissimos obcaecati odit iure
        delectus rem quod ducimus sapiente placeat eum. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Temporibus, suscipit totam omnis doloremque nobis laboriosam nemo
        nesciunt aspernatur facere dolor voluptate at fugit eaque sed hic esse dolorum
        accusantium. Distinctio!
      </p>

      <h3>
        Heading 3 &mdash; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sequi, ipsa,
        beatae dolore magnam aut temporibus maxime voluptas voluptates nemo molestiae dicta
        corporis expedita
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sequi, ipsa, beatae
        dolore magnam aut temporibus maxime voluptas voluptates nemo molestiae dicta corporis
        expedita <strong>aliquam</strong> ratione officia necessitatibus dolores quis? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quos, doloremque, cum,
        dolorum dolores natus inventore sint vero facilis dignissimos obcaecati odit iure
        delectus rem quod ducimus sapiente placeat eum. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Temporibus, suscipit totam omnis doloremque nobis laboriosam nemo
        nesciunt aspernatur facere dolor voluptate at fugit eaque sed hic esse dolorum
        accusantium. Distinctio!
      </p>

      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>

      <%= stylesheet_section "Classes of messages" do %>
        <p>
          <span class="text-error">Error text</span> dolor sit amet, consectetur adipisicing
          elit. Enim, sequi, ipsa, beatae dolore warning text aut temporibus maxime voluptas
          voluptates nemo molestiae dicta corporis expedita <strong>strong</strong> ratione
          <span class="text-success">successful text</span> dolores quis?
        </p>

        <p>
          Lorem ipsum dolor sit amet, <em>emphatic</em> elit. Enim, sequi, ipsa, beatae dolore
          <a href="http://www.youtube.com/watch?v=UNJU-5vCrJc">liquid hot magma</a> aut
          temporibus maxime voluptas voluptates nemo molestiae dicta <strong><em>strongly
              emphatic</em></strong> expedita aliquam ratione officia necessitatibus dolores
          quis?
        </p>
      <% end %>

      <%= stylesheet_section "Small text" do %>
        <small>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dicta, repudiandae,
          tenetur fugiat eius iure quibusdam placeat adipisci ea beatae accusamus
          totam illum repellat. Ex placeat molestiae omnis molestias suscipit!
        </small>
      <% end %>

      <h3>ul</h3>
      <ul>
        <li>Cupcake cheesecake jelly-o cotton candy macaroon cheesecake</li>
        <li>Tart donut tart caramels. Dragée candy danish carrot cake bonbon. Chupa chups pie lollipop cake halvah tiramisu. Donut marzipan jelly beans powder oat cake icing. Macaroon tootsie roll pie oat cake biscuit caramels apple pie ice cream pie.</li>
        <li>Gingerbread dessert croissant lemon drops cupcake bear claw</li>
        <li>Fruitcake brownie wypas cheesecake marshmallow ice cream</li>
      </ul>

      <h3>ol</h3>
      <ol>
        <li>Cupcake cheesecake jelly-o cotton candy macaroon cheesecake</li>
        <li>Tart donut tart caramels. Dragée candy danish carrot cake bonbon. Chupa chups pie lollipop cake halvah tiramisu. Donut marzipan jelly beans powder oat cake icing. Macaroon tootsie roll pie oat cake biscuit caramels apple pie ice cream pie.</li>
        <li>Gingerbread dessert croissant lemon drops cupcake bear claw</li>
        <li>Fruitcake brownie wypas cheesecake marshmallow ice cream</li>
      </ol>

    </div>
  </div>

  <div class="row">
    <div class="container">
      <h1>Challenge Listings</h1>
    </div>
  </div>

  <%= stylesheet_section "Normal" do %>
    <div class="row">
      <div class="container no-side-padding">
        <article class="challenge-listing">
          <a data-role="featured_challenge" href="#">
            <section class="challenge-synopsis">
              <figure class="challenge-logo">
                <img src="//s3.amazonaws.com/challengepost/photos/production/challenge_photos/000/055/715/datas/medium_square.gif?1366224892" class="photo_image_tag image-replacement" alt="image">
              </figure>

              <div class="content">
                <h2>
                  Challenge Title Goes Here
                </h2>
                <p class="posted-by">
                  <small>Online challenge posted by Creator Name</small>
                </p>
                <p class="challenge-description">
                  Cupcake cheesecake jelly-o cotton candy macaroon cheesecake  tootsie roll pie oat cake biscuit caramels apple pie ice cream pie.
                </p>
              </div>
            </section>

            <section class="stats">
              <div class="prizes">
                <span class="ss-icon symbol">star</span>
                <div class="text">
                  <span class="value">$50,000</span> <span class="action">in prizes</span>
                </div>
              </div>

              <div class="submission-time">
                <span class="ss-icon symbol">clock</span>
                <div class="text">
                  <time datetime="2013-06-15T05:00:00-04:00" class="value timeago" title="Jun 15, 2013 05:00 AM EDT">40 days</time> <span class="action"> to submit</span>
                </div>
              </div>
            </section>
          </a>
        </article>
      </div>
    </div>
  <% end %>

  <%= stylesheet_section "Hackathon without location" do %>
    <div class="row">
      <div class="container no-side-padding">
        <article class="challenge-listing hackathon-no-location">
          <a data-role="featured_challenge" href="#">
            <section class="challenge-synopsis">
              <figure class="challenge-logo">
                <img src="//s3.amazonaws.com/challengepost/photos/production/challenge_photos/000/055/715/datas/medium_square.gif?1366224892" class="photo_image_tag image-replacement" alt="image">
              </figure>

              <div class="content">
                <h2>
                  Hackathon Title: NO location data
                </h2>
                <p class="posted-by">
                  <small>In-person hackathon posted by Creator Name</small>
                </p>
                <p class="challenge-description">
                  Cupcake cheesecake jelly-o cotton candy macaroon cheesecake  tootsie roll pie oat cake biscuit caramels apple pie ice cream pie.
                </p>
              </div>
            </section>

            <section class="stats">
              <div class="prizes">
                <span class="ss-icon symbol">star</span>
                <div class="text">
                  <span class="value">$50,000</span> <span class="action">in prizes</span>
                </div>
              </div>

              <div class="submission-time">
                <span class="ss-icon symbol">clock</span>
                <div class="text">
                  <time class="value timeago">November 15–17</time>
                </div>
              </div>
            </section>
          </a>
        </article>
      </div>
    </div>
  <% end %>

  <%= stylesheet_section "Hackathon with location" do %>
    <div class="row">
      <div class="container no-side-padding">
        <article class="challenge-listing hackathon">
          <a data-role="featured_challenge" href="#">
            <section class="challenge-synopsis">
              <figure class="challenge-logo">
                <img src="//s3.amazonaws.com/challengepost/photos/production/challenge_photos/000/055/715/datas/medium_square.gif?1366224892" class="photo_image_tag image-replacement" alt="image">
              </figure>

              <div class="content">
                <h2>
                  Hackathon Title Goes Here
                </h2>
                <p class="posted-by">
                  <small>In-person hackathon posted by Creator Name</small>
                </p>
                <p class="challenge-description">
                  Cupcake cheesecake jelly-o cotton candy macaroon cheesecake  tootsie roll pie oat cake biscuit caramels apple pie ice cream pie.
                </p>
              </div>
            </section>

            <section class="stats">
              <div class="prizes">
                <span class="ss-icon symbol">star</span>
                <div class="text">
                  <span class="value">$100,000</span> <span class="action">in prizes</span>
                </div>
              </div>

              <div class="submission-time">
                <span class="ss-icon symbol">clock</span>
                <div class="text">
                  <time class="value timeago">November 15–17</time>
                </div>
              </div>

              <div class="location">
                <span class="ss-icon symbol">location</span>
                <div class="text">
                  <span class="value">Brooklyn, NY</span>
                </div>
              </div>
            </section>
          </a>
        </article>

      </div>
    </div>
  <% end %>

  <div class="row light">
    <div class="container">
      <h1>Banners</h1>

      <%= stylesheet_section "Notifications" do %>
        <div class="notification">
          <p tabindex="0" class="alert">Error message goes here. <a href="#">A link</a></p>
        </div>

        <div class="notification">
          <p tabindex="0" class="notice">Status message goes here. <a href="#">A link</a></p>
        </div>

        <div class="notification">
          <p tabindex="0" class="success">Success message goes here. <a href="#">A link</a></p>
        </div>
      <% end %>

    </div>
  </div>

</div>
