<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">

  <title>ReimagineTest</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <style type="text/css"><%= Pygments.css(".highlight", style: "monokai") %></style>
  <%# => ["monokai", "manni", "rrt", "perldoc", "borland", "colorful", "default", "murphy", "vs", "trac", "tango", "fruity", "autumn", "bw", "emacs", "vim", "pastie", "friendly", "native"]  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= render "layouts/global_nav" %>
  <%= yield %>
  <%= render "layouts/footer" %>

</body>
</html>
