<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">

  <title>ReimagineTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/global_nav" %>
  <%= yield %>
  <%= render "layouts/footer" %>

</body>
</html>
