<div class="contain-to-grid hide-for-large-up">
  <nav class="top-bar" data-topbar>
    <ul class="title-area top-bar-section">
      <li class="name">
        <%= render "reimagine2/devpost/global_nav/logo",
          image_path: "reimagine2/devpost-icon.svg",
          presenter: presenter %>
      </li>

      <li> STUFF WORKED?? </li>
      <li class="toggle-topbar menu-icon">
        <a href>
          <span>
            "Menu"
            ::after
          </span>
        </a>
      </li>

      <%= render "reimagine2/devpost/global_nav/mobile/logged_in_account", presenter: presenter %>
      <%= render "reimagine2/devpost/global_nav/mobile/world", presenter: presenter %>
      <%= render "reimagine2/devpost/global_nav/mobile/logged_out_account", presenter: presenter %>
    </ul>

    <section class="top-bar-section">
      <%= render 'reimagine2/devpost/global_nav/mobile/logged_in_menu', presenter: presenter %>
    </section>
  </nav>
</div>
