<div class="contain-to-grid hide-for-small hide-for-medium">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <%= render "reimagine2/devpost/global_nav/logo", presenter: presenter %>
      </li>
    </ul>

    <section class="top-bar-section">
      <%= render 'reimagine2/devpost/global_nav/world', presenter: presenter %>

      <div class="right">
        <ul>
          <li class="search-expand-container desktop main-link">
            <a data-toggle-desktop-search><i class="fas fa-search"></i></a>
          </li>

          <li id="desktop-search-form-container" class="search-form-container hide">
            <%= form_tag(platform_url(path: '/hackathons'), class: 'flex-row align-items-center search-form', method: :get) do %>
              <%= render 'reimagine2/devpost/global_nav/hackathon_search_fields', data_toggle_attr: 'data-toggle-desktop-search' %>
            <% end %>
          </li>
        </ul>

        <%= render 'reimagine2/devpost/global_nav/account', presenter: presenter %>
      </div>
    </section>
  </nav>
</div>
