<div class="contain-to-grid hide-for-small hide-for-medium">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <%= render "reimagine2/devpost/global_nav/logo", presenter: presenter %>
      </li>
    </ul>

    <section class="top-bar-section">
      <%= render 'reimagine2/devpost/global_nav/world', presenter: presenter %>

      <div class="right">
        <ul>
          <li>
            <%= link_to 'Host a hackathon', reimagine_post_url, class: 'main-link', data: { role: 'for-orgs' } %>
          </li>

          <li class="search-expand-container desktop main-link">
            <a data-toggle-desktop-search><i class="fas fa-search"></i></a>
          </li>

          <li id="desktop-search-form-container" class="search-form-container hide">
            <%= form_tag(platform_url(path: "/hackathons"), class: "flex-row align-items-center search-form", method: :get) do %>
              <div class="search-field-wrapper flex-row align-items-stretch mx-4">
                <span class="align-items-center">
                  <i class="fas fa-search pr-2 search-icon"></i>
                </span>

                <%= search_field_tag :search, nil, title: "Search", placeholder: "Search hackathons" %>

                <a href="#" class="align-items-center pl-2 pr-0 close-icon" data-toggle-desktop-search>
                  <i class="fas fa-times"></i>
                </a>
              </div>
            <% end %>
          </li>
        </ul>

        <%= render 'reimagine2/devpost/global_nav/account', presenter: presenter %>
      </div>
    </section>
  </nav>
</div>
