<div class="top-bar">
  <div class="row">
    <div class="small-12 columns top-bar-wrapper">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            <%= link_to reimagine_root_url, class: "show-for-large" do %>
              <%= image_tag "reimagine2/devpost-logo.svg", alt: "Devpost", id: "logo" %>
            <% end %>

            <%= link_to reimagine_root_url, class: "hide-for-large" do %>
              <%= image_tag "reimagine2/devpost-icon.svg", alt: "Devpost", id: "logo" %>
            <% end %>
          </li>
          <li>
            <%= link_to "Hackathons", reimagine_root_url(path: "/hackathons") %>
          </li>
          <li>
            <%= link_to "For organizations", reimagine_post_url %>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <%= render 'reimagine2/devpost/global_nav/account', presenter: presenter %>
      </div>
    </div>
  </div>
</div>
