<div class="contain-to-grid hide-for-large-up">
  <nav class="top-bar" data-topbar>
    <ul class="title-area top-bar-section">
      <li>
        <%= link_to "#",
                    class: "toggle-topbar has-dropdown text-center",
                    data: { target_menu: "world" },
                    id: "hamburger" do %>
          <i class="ss-icon ss-rows"></i>
        <% end %>
      </li>
      <li class="name">
        <%= render "reimagine2/devpost/global_nav/logo", presenter: presenter %>
      </li>
      <li id="mobile-search-container" class="hide">
        <%= form_tag(platform_url("hackathons"), class: "search-bar-form", method: :get) do %>
          <div>
            <a id="collapse-mobile-search" data-toggle-mobile-search="true"><i class="fas fa-arrow-left"></i></a>
            <%= render "reimagine2/devpost/global_nav/hackathon_search_fields" %>
          </div>
        <% end %>
      </li>

      <%= render "reimagine2/devpost/global_nav/mobile/logged_in_account", presenter: presenter %>
      <%= render "reimagine2/devpost/global_nav/mobile/logged_out_account", presenter: presenter %>
      <li id="mobile-search-expand-container" class="right">
        <a data-toggle-mobile-search="true"><i class="fas fa-search"></i></a>
      </li>
    </ul>

    <section class="top-bar-section" data-top-nav-menu="user">
      <%= render 'reimagine2/devpost/global_nav/mobile/logged_in_menu', presenter: presenter %>
    </section>

    <section class="top-bar-section" data-top-nav-menu="world">
      <%= render "reimagine2/devpost/global_nav/mobile/world" %>
    </section>
  </nav>
</div>
