<li class="divider"></li>
<li class="has-dropdown">
  <%= link_to 'Product', '#', class: 'main-link' %>

  <ul class="dropdown float-left">
    <li id="floating-menu-wrapper">
      <div class="floating-menu">
        <div class="panel-container">
          <a class="panel-product panel-product-content" href="https://info.devpost.com/product/public-hackathons">
            <%= image_tag 'reimagine2/devpost-logo-mobile.svg', alt: 'Devpost' %>
            <div>
              <p class="title bold">Devpost</p>
              <p class="subtitle">Grow your developer ecosystem and promote your platform.</p>
            </div>
          </a>
          <div class="panel-content">
            <%= link_to 'Hackathons', reimagine_root_url(path: '/hackathons') %>
            <%= link_to 'Projects', reimagine_root_url(path: '/software') %>
            <a href="https://info.devpost.com/product/public-hackathons">Host a public hackathon</a>
          </div>
        </div>

        <div class="panel-container">
          <a class="panel-product panel-product-content" href="https://info.devpost.com/product/devpost-for-teams">
            <%= image_tag 'reimagine2/dft-logo-mobile.svg', alt: 'Devpost for Teams' %>
            <div>
              <p class="title bold">Devpost for Teams</p>
              <p class="subtitle">Drive innovation, collaboration, and retention within your organization.</p>
            </div>
          </a>
          <div class="panel-content">
            <a href="https://devpost.team">Teams login</a>
            <a href="https://info.devpost.com/product/devpost-for-teams">Request a demo</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>
<li class="divider"></li>
<li>
  <%= link_to reimagine_root_url(path: '/hackathons'), class: 'main-link', data: { role: 'discover' } do %>
    Hackathons
  <% end %>
</li>
<li class="divider"></li>
<li>
  <%= link_to reimagine_root_url(path: '/software'), class: 'main-link', data: { role: 'projects' } do %>
    Projects
  <% end %>
</li>
<li class="divider"></li>
<li>
  <%= link_to 'Blog', 'https://info.devpost.com/blog', class: 'main-link' %>
</li>
